.vids {
	width: 100%;
	height: 100vh;
	background: orange;
	position: relative;
}

 
.product-page{

	.center-text {
		position: absolute;
		color: #fff;
		font-size: 2.5rem;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		margin-top: -50px;
	}

	.productList {
		position: relative;
		width: 100vw;
		height: 150vh;
		display: flex;
		align-items: center;
		justify-content: center;
		// text-align: center;
		// margin-left: -170px;
		margin-top: 150px;

		.pic {
		position: relative;
		width: 100px; /* 이미지 크기 조정 */
		height: 100px; // 높이 값 오토로 놓으면 반영할 부모 값이 없어서 이미지 안보임
		border-radius: px;
		overflow: hidden;
		}
		h3{
			font-family: 'armini';
		}
	}
}

@media screen and (max-width: $tablet) {
	.product {
		.productList {
			article {
				width: 47%;
				margin-bottom: 50px;
				.pic {
					height: 40vw;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.product {
		.productList {
			article {
				width: 100%;
			}
		}
	}
}