/* 전체 레이아웃 설정 */
body {
	background-color: #000000;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	margin: 0;
	width: 100%;
}

/* Edit Post 페이지 레이아웃 */
form {
	width: 80%;
	max-width: 600px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: transparent;
}

/* 입력 필드 및 드롭다운 스타일 */
select,
input[type='text'],
textarea {
	width: 100%;
	padding: 12px;
	font-size: 1rem; 
	color: #b1afaf;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #ffffff;
	outline: none;
	resize: none;
	box-sizing: border-box;

	&::placeholder {
		color: #888888;
	}
}

/* 텍스트 입력 필드 */
input[type='text'] {
	font-size: 1.2rem;
}

textarea {
	height: 150px;
}

/* 드롭다운 스타일 */
select {
 		width: 35%;
		padding: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		color: #696969;
		background-color: transparent; 
		box-sizing: border-box;
	}
	
	
 

/* 버튼 스타일 */
input[type='submit'],
input[type='reset'] {
	width: 100px;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	text-align: center;
	border-radius: 4px;

	&:hover {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Reset 버튼 스타일 */
input[type='reset'] {
	color: #888888;
	border-color: #888888;

	&:hover {
		background-color: #333333;
		color: #ffffff;
	}
}
