/* 전체 레이아웃 설정 */
body {
	background-color: #000000;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	margin: 0;
	width: 100%;
}

/* Add Post 페이지 레이아웃 */
.addpost {
	background: transparent;
	color: #ffffff;
	width: 80%;
	max-width: 800px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* 입력 필드 및 드롭다운 스타일 */
input[type='text'],
textarea,
select {
	width: 100%;
	padding: 12px;
	font-size: 1rem;
	color: #ffffff;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #ffffff;
	outline: none;
	resize: none;

	&::placeholder {
		color: #888888;
	}
}

/* 텍스트 입력 필드 */
input[type='text'] {
	font-size: 1.2rem;
}

textarea {
	height: 150px;
}

/* 카테고리 선택 드롭다운 */
select {
	width: 100%;
	color: #5b5959;
	background-color: transparent;
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #ffffff;
	appearance: none;
	cursor: pointer;
}

/* 버튼 컨테이너 */
.button-container { 
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

/* 버튼 스타일 */
input[type='submit'],
input[type='reset'] {
	flex: 1;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Reset 버튼 스타일 */
input[type='reset'] {
 
	opacity: 0.6;
 

	&:hover {
		background-color: #300404;
		color: #ffffff;
	}
}

/* Reset 버튼 스타일 */
input[type='submit'] { 
	opacity: 0.6;
	border-bottom: 2px solid #ff6666;

	&:hover {
		background-color: #300404;
		color: #ffffff;
	}
}

