
 

main {
	width: 100%;
	padding: 0 !important; 
}
 
	.content {
		// padding: 0px;
	}
 
.wrap2 {
	width: 100%;	
	overflow: auto;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20vh;
	// background-image: linear-gradient(45deg, #000, #100f0f);
 

	h2 {
		font-weight: normal;
		font-size: 18px;
		font-family: 'orbitron';
		color: #fff;
		letter-spacing: 1px;
		position: absolute;
		left: 30px;
		top: 30px;

		span {
			opacity: 0.8;
		}
	}

	.auto {
		position: absolute;
		top: 30px;
		left: 280px;
		z-index: 20;

		li {
			opacity: 0.8;
			float: left;
			margin-right: 10px;
			cursor: pointer;
			color: #fff;
			font-size: 20px;
			opacity: 0.9;
			transition: all 0.5s;

			&:hover {
				opacity: 1;
				transform: scale(1.4);
			}
		}
	}

	.swiper-wrapper {
		width: 100%;
		height: 100%;
		height: 70vh;

		.swiper-slide {
			width: 600px;
			height: 420px;
			position: relative;
			top: 50%;
			margin-top: -230px;

			.inner {
				width: 100%;
				height: 100%;
				background: #fff;
				padding: 30px;
				box-sizing: border-box;
				opacity: 0.4;
				transition: 1s;

				&::before,
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0; 
					opacity: 0;
					background: #fff;
				}

				.con {
					position: relative;
					z-index: 10;

					img {
						width: 100%;
						aspect-ratio: 16/9;
					}

					h4{
						font-weight: normal;
						font-size: 40px;
						font:150 1.5rem/1 'roboto';
						color: #a9a9a9;
		 

						&::after {
							content: '';
							display: block;
							width: 30px;
							height: 1px;
							background-color: #888;
							margin-top: 10px;
							transition: 1s 0.5s;
						}
					}

					p {
						top: 0px;
						font-weight: normal;
						font-size: 12px;
						font-family: 'arial';
						line-height: 1;
						color: #aaa;
						letter-spacing: 1px;
					}
				}
			}

			&-prev .inner,
			&-next .inner {
				opacity: 0.7;
			}
		}

		.swiper-slide-active .inner {
			opacity: 1;
			box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);

			&::before {
				animation: ani 1s ease 1;
			}

			&::after {
				animation: ani 1s ease 0.3s 1;
			}

			.con h2::after {
				width: 100px;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto;
		bottom: 50px;
		filter: grayscale(100%) brightness(3);
		transform: scale(0.5);

		&.swiper-button-prev {
			right: 100px;
		}

		&.swiper-button-next {
			right: 100px;
		}
	}

	.swiper-pagination-fraction {
		left: 50%; /* 좌우 중앙으로 설정 */
		bottom: 50px;
    transform: translateX(-50%); /* 정확히 중앙에 위치시키기 위해 사용 */
    width: auto !important; 
		font-size: 16px;
		font-family: 'orbitron';
		letter-spacing: 1px;
		color: #eee !important;

		span:nth-of-type(1) {
			font-size: 30px;
			color: #fff !important;
		}
	}
}

@keyframes ani {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	1% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

.videobox{
	position:relative;
	margin-top: 50px;
	margin-right: 20px;
	width: 100%;
	height: 100%;
	background-color: #000000;
 	padding: 0; /* 여백 제거 */
	display:flex ;
	justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
 
}

.video-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	aspect-ratio: 4/3;
  gap: 30px;
	margin-top: 20px;
	box-sizing: border-box;
}
 

.video-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* 텍스트와 썸네일을 상하로 배치 */
	align-items: center;
	height: 100%; /* 카드 전체 높이를 사용 */
	width: 100%; /* 카드가 가로로 잘 맞도록 */
	background-color: #f9f9f9;
	padding: 20px;
	border-top: 7px solid #656565;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left; 
	height: 100%; /* 카드의 높이를 동일하게 설정 */
  aspect-ratio: 3 / 4; /* 비율을 3:4로 설정 */ 



	.round {
		font: 900 2rem/1 'Roboto';
		color: #222;
		padding: 0px;
		margin-left: 0px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 8px;
		margin-bottom: 50px;
		display: inline-block;
	}

	.content-wrapper {
		flex-grow: 1; /* 텍스트 영역이 남은 공간을 차지하게 함 */
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}

	 h3 {
		height: 90px;
		font: 1.2rem/1.2 'Roboto';
 		color: #a5a2a2;
		line-height: 1.2; 
 
	}
	.txt p {
		font: 0.9rem/1.3 'Roboto';
		height: 70px;
 		color: #555; 
 		display: flex;
		align-items: center; 
		margin: 10px 0;
	}

	.txt span {
		height: 50px; 
		font-size: 0.7rem;
		color: #888;  
	}
}


.thumb {
	width: 100%;
	height: 180px; /* 고정 높이로 카드 내부에 맞게 설정 */
	object-fit: cover; /* 이미지가 카드 크기에 맞도록 조절 */
	aspect-ratio: 4/3;
 	margin-bottom: auto;
  background-color: #333;
	margin-top: auto; /* 썸네일을 카드의 하단으로 */  
}

/* 반응형: 화면이 좁아질 때 2열로 배치 */
@media screen and (max-width: $tablet) {
	.wrap2 {
		width: 100%;	
	}
	.auto {
		bottom: 30px;
		left: 20px;
		li {
			font-size: 16px;
		}
	}
	.swiper-slide {
		width: 600px;
		height: 450px;
	}

    .video-grid {
			grid-template-columns: repeat(2, 1fr); 
    }

	}

/* 반응형: 더 좁아질 때 1열로 배치 */
@media screen and (max-width: $mobile) {

	.swiper-slide {
		width: 100%;
		height: 300px;
		margin-top: 0;
		top: auto; 
	}
		
	.wrap2 {
		width: 100%;	
	} 


	.auto {
 		bottom: 20px;
		left: 10px;
		width: 50%;
		height: 10%;
		li {
			font-size: 14px;
			margin-right: 5px;
		}

	}
 
    .video-grid {
			grid-template-columns: repeat(1, 1fr); /* 반응형: 카드 최소 너비와 최대 너비 설정 */
    }
		h3 {
			height: 2vh; 
		}
		.txt p {
			 height: 2vh;   
		}
		
		.txt span {
			height: 3vh;   
		}
		
} 
 

 